mjpeg/build.gradle
mjpeg/build/generated/source/buildConfig/androidTest/debug/com/camera/simplemjpeg/test/BuildConfig.java
mjpeg/build/generated/source/buildConfig/debug/com/camera/simplemjpeg/BuildConfig.java
mjpeg/build/generated/source/buildConfig/release/com/camera/simplemjpeg/BuildConfig.java
mjpeg/build/generated/source/r/androidTest/debug/com/camera/simplemjpeg/R.java
mjpeg/build/generated/source/r/androidTest/debug/com/camera/simplemjpeg/test/R.java
mjpeg/build/generated/source/r/debug/com/camera/simplemjpeg/R.java
mjpeg/build/generated/source/r/release/com/camera/simplemjpeg/R.java
mjpeg/build/intermediates/blame/res/androidTest/debug/multi/values-ja.json
mjpeg/build/intermediates/blame/res/androidTest/debug/multi/values.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/drawable-hdpi-v4.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/drawable-ldpi-v4.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/drawable-mdpi-v4.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/drawable-xhdpi-v4.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/layout-v11.json
mjpeg/build/intermediates/blame/res/androidTest/debug/single/layout.json
mjpeg/build/intermediates/bundles/debug/AndroidManifest.xml
mjpeg/build/intermediates/bundles/debug/R.txt
mjpeg/build/intermediates/bundles/debug/classes.jar
mjpeg/build/intermediates/bundles/debug/jni/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/bundles/debug/jni/armeabi/libImageProc.so
mjpeg/build/intermediates/bundles/debug/jni/mips/libImageProc.so
mjpeg/build/intermediates/bundles/debug/jni/x86/libImageProc.so
mjpeg/build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/debug/res/drawable-ldpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/debug/res/drawable-mdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/debug/res/drawable-xhdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/debug/res/layout-v11/option_menu.xml
mjpeg/build/intermediates/bundles/debug/res/layout/main.xml
mjpeg/build/intermediates/bundles/debug/res/layout/option_menu.xml
mjpeg/build/intermediates/bundles/debug/res/layout/settings.xml
mjpeg/build/intermediates/bundles/debug/res/values-ja/values-ja.xml
mjpeg/build/intermediates/bundles/debug/res/values/values.xml
mjpeg/build/intermediates/bundles/default/AndroidManifest.xml
mjpeg/build/intermediates/bundles/default/R.txt
mjpeg/build/intermediates/bundles/default/classes.jar
mjpeg/build/intermediates/bundles/default/jni/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/bundles/default/jni/armeabi/libImageProc.so
mjpeg/build/intermediates/bundles/default/jni/mips/libImageProc.so
mjpeg/build/intermediates/bundles/default/jni/x86/libImageProc.so
mjpeg/build/intermediates/bundles/default/res/drawable-hdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/default/res/drawable-ldpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/default/res/drawable-mdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/default/res/drawable-xhdpi-v4/ic_launcher.png
mjpeg/build/intermediates/bundles/default/res/layout-v11/option_menu.xml
mjpeg/build/intermediates/bundles/default/res/layout/main.xml
mjpeg/build/intermediates/bundles/default/res/layout/option_menu.xml
mjpeg/build/intermediates/bundles/default/res/layout/settings.xml
mjpeg/build/intermediates/bundles/default/res/values-ja/values-ja.xml
mjpeg/build/intermediates/bundles/default/res/values/values.xml
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R$array.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R$drawable.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R$id.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R$layout.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R$string.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/R.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/BuildConfig.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$array.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$attr.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$drawable.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$id.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$layout.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R$string.class
mjpeg/build/intermediates/classes/androidTest/debug/com/camera/simplemjpeg/test/R.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/BuildConfig.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegActivity$1.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegActivity$DoRead.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegActivity$RestartApp.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegActivity.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegInputStream.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegView$MjpegViewThread.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/MjpegView.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$array.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$attr.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$drawable.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$id.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$layout.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R$string.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/R.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$1.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$10.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$11.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$12.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$2.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$3.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$4.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$5.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$6.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$7.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$8.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity$9.class
mjpeg/build/intermediates/classes/debug/com/camera/simplemjpeg/SettingsActivity.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/BuildConfig.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$1.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$DoRead.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$RestartApp.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegInputStream.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegView$MjpegViewThread.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegView.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$array.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$attr.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$drawable.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$id.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$layout.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R$string.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/R.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$1.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$10.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$11.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$12.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$2.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$3.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$4.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$5.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$6.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$7.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$8.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$9.class
mjpeg/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity.class
mjpeg/build/intermediates/incremental-safeguard/androidTest/debug/tag.txt
mjpeg/build/intermediates/incremental-safeguard/debug/tag.txt
mjpeg/build/intermediates/incremental-safeguard/release/tag.txt
mjpeg/build/intermediates/incremental/compileDebugAidl/dependency.store
mjpeg/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
mjpeg/build/intermediates/incremental/compileReleaseAidl/dependency.store
mjpeg/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
mjpeg/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/values-ja/values-ja.xml
mjpeg/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/values/values.xml
mjpeg/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
mjpeg/build/intermediates/incremental/mergeDebugAssets/merger.xml
mjpeg/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
mjpeg/build/intermediates/incremental/mergeDebugShaders/merger.xml
mjpeg/build/intermediates/incremental/mergeReleaseAssets/merger.xml
mjpeg/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
mjpeg/build/intermediates/incremental/mergeReleaseShaders/merger.xml
mjpeg/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
mjpeg/build/intermediates/incremental/packageDebugResources/merged.dir/values-ja/values-ja.xml
mjpeg/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
mjpeg/build/intermediates/incremental/packageDebugResources/merger.xml
mjpeg/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
mjpeg/build/intermediates/incremental/packageReleaseResources/merged.dir/values-ja/values-ja.xml
mjpeg/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
mjpeg/build/intermediates/incremental/packageReleaseResources/merger.xml
mjpeg/build/intermediates/jniLibs/debug/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/jniLibs/debug/armeabi/libImageProc.so
mjpeg/build/intermediates/jniLibs/debug/mips/libImageProc.so
mjpeg/build/intermediates/jniLibs/debug/x86/libImageProc.so
mjpeg/build/intermediates/jniLibs/release/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/jniLibs/release/armeabi/libImageProc.so
mjpeg/build/intermediates/jniLibs/release/mips/libImageProc.so
mjpeg/build/intermediates/jniLibs/release/x86/libImageProc.so
mjpeg/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
mjpeg/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
mjpeg/build/intermediates/manifests/aapt/release/AndroidManifest.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/drawable-hdpi-v4/ic_launcher.png
mjpeg/build/intermediates/res/merged/androidTest/debug/drawable-ldpi-v4/ic_launcher.png
mjpeg/build/intermediates/res/merged/androidTest/debug/drawable-mdpi-v4/ic_launcher.png
mjpeg/build/intermediates/res/merged/androidTest/debug/drawable-xhdpi-v4/ic_launcher.png
mjpeg/build/intermediates/res/merged/androidTest/debug/layout-v11/option_menu.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/layout/main.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/layout/option_menu.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/layout/settings.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/values-ja/values-ja.xml
mjpeg/build/intermediates/res/merged/androidTest/debug/values/values.xml
mjpeg/build/intermediates/res/resources-debug-androidTest.ap_
mjpeg/build/intermediates/symbols/androidTest/debug/R.txt
mjpeg/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/3/main/lib/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/3/main/lib/armeabi/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/3/main/lib/mips/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/3/main/lib/x86/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/release/folders/2000/3/main/lib/armeabi-v7a/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/release/folders/2000/3/main/lib/armeabi/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/release/folders/2000/3/main/lib/mips/libImageProc.so
mjpeg/build/intermediates/transforms/mergeJniLibs/release/folders/2000/3/main/lib/x86/libImageProc.so
mjpeg/build/outputs/aar/mjpeg-debug.aar
mjpeg/build/outputs/aar/mjpeg-release.aar
simplemjpegview/build/generated/source/buildConfig/release/com/camera/simplemjpeg/BuildConfig.java
simplemjpegview/build/generated/source/r/release/com/camera/simplemjpeg/R.java
simplemjpegview/build/intermediates/blame/res/release/multi/values-ja.json
simplemjpegview/build/intermediates/blame/res/release/multi/values.json
simplemjpegview/build/intermediates/blame/res/release/single/drawable-hdpi.json
simplemjpegview/build/intermediates/blame/res/release/single/drawable-ldpi.json
simplemjpegview/build/intermediates/blame/res/release/single/drawable-mdpi.json
simplemjpegview/build/intermediates/blame/res/release/single/drawable-xhdpi.json
simplemjpegview/build/intermediates/blame/res/release/single/layout-v11.json
simplemjpegview/build/intermediates/blame/res/release/single/layout.json
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/BuildConfig.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$1.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$DoRead.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity$RestartApp.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegActivity.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegInputStream.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegView$MjpegViewThread.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/MjpegView.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$array.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$attr.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$drawable.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$id.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$layout.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R$string.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/R.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$1.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$10.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$11.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$12.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$2.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$3.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$4.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$5.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$6.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$7.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$8.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity$9.class
simplemjpegview/build/intermediates/classes/release/com/camera/simplemjpeg/SettingsActivity.class
simplemjpegview/build/intermediates/incremental-safeguard/release/tag.txt
simplemjpegview/build/intermediates/incremental/compileReleaseAidl/dependency.store
simplemjpegview/build/intermediates/incremental/mergeReleaseAssets/merger.xml
simplemjpegview/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
simplemjpegview/build/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
simplemjpegview/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-ja/values-ja.xml
simplemjpegview/build/intermediates/incremental/mergeReleaseResources/merged.dir/values/values.xml
simplemjpegview/build/intermediates/incremental/mergeReleaseResources/merger.xml
simplemjpegview/build/intermediates/incremental/mergeReleaseShaders/merger.xml
simplemjpegview/build/intermediates/incremental/packageRelease/dex-renamer-state.txt
simplemjpegview/build/intermediates/incremental/packageRelease/file-input-save-data.txt
simplemjpegview/build/intermediates/incremental/packageRelease/zip-cache/9tAw4YvqfKj+EAvc8D5xACVLRII=
simplemjpegview/build/intermediates/jniLibs/release/armeabi-v7a/libImageProc.so
simplemjpegview/build/intermediates/jniLibs/release/armeabi/libImageProc.so
simplemjpegview/build/intermediates/jniLibs/release/mips/libImageProc.so
simplemjpegview/build/intermediates/jniLibs/release/x86/libImageProc.so
simplemjpegview/build/intermediates/manifests/full/release/AndroidManifest.xml
simplemjpegview/build/intermediates/res/merged/release/drawable-hdpi/ic_launcher.png
simplemjpegview/build/intermediates/res/merged/release/drawable-ldpi/ic_launcher.png
simplemjpegview/build/intermediates/res/merged/release/drawable-mdpi/ic_launcher.png
simplemjpegview/build/intermediates/res/merged/release/drawable-xhdpi/ic_launcher.png
simplemjpegview/build/intermediates/res/merged/release/layout-v11/option_menu.xml
simplemjpegview/build/intermediates/res/merged/release/layout/main.xml
simplemjpegview/build/intermediates/res/merged/release/layout/option_menu.xml
simplemjpegview/build/intermediates/res/merged/release/layout/settings.xml
simplemjpegview/build/intermediates/res/merged/release/values-ja/values-ja.xml
simplemjpegview/build/intermediates/res/merged/release/values/values.xml
simplemjpegview/build/intermediates/res/resources-release.ap_
simplemjpegview/build/intermediates/transforms/dex/release/folders/1000/1f/main/classes.dex
simplemjpegview/build/intermediates/transforms/mergeJniLibs/release/folders/2000/1f/main/lib/armeabi-v7a/libImageProc.so
simplemjpegview/build/intermediates/transforms/mergeJniLibs/release/folders/2000/1f/main/lib/armeabi/libImageProc.so
simplemjpegview/build/intermediates/transforms/mergeJniLibs/release/folders/2000/1f/main/lib/mips/libImageProc.so
simplemjpegview/build/intermediates/transforms/mergeJniLibs/release/folders/2000/1f/main/lib/x86/libImageProc.so
simplemjpegview/build/outputs/apk/simplemjpegview-release-unsigned.apk
simplemjpegview/build/outputs/logs/manifest-merger-release-report.txt
local.properties
.idea/compiler.xml
.idea/misc.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
build/android-profile/profile-2017-03-28-00-07-18-654.rawproto
build/android-profile/profile-2017-03-28-00-08-46-094.rawproto
DVR_Hammer.iml
mjpeg/mjpeg.iml
